<div class="container-lg" style="padding: 0; height: 100vh; background: #f4f8fb;">
  <nav class="navbar navbar-light bg-light" style="background: black !important;">
      <a class="navbar-brand" style="color: white; display: flex; width: 100%; display: flex; justify-content: space-between; margin: 0;">
          <button class="btn_black" (click)="goBack()">
              <svg style="margin-right: 10px; font-size: 30px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
              </svg>
              Categorias
          </button>

          <button class="btn_black" (click)="goNuevaCategoria()">
              <svg style="font-size: 30px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg" routerLink="/nuevomesero">
                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
              </svg>
          </button>
      </a>
  </nav>

  <div class="container-lg" style="height: 200px; height: calc(100% - 60px); overflow-y: auto;">
      <div style="background: F2F6F7; flex-direction: column; overflow: auto; width: 100%; height: 390px; margin-top: 20px; text-align: center; display: flex; align-items: center; height: calc(100% - 20px);">
          <div style="background: #ffffff; width: 100%; margin-top: 10px; z-index: 1000; height: auto; padding: 10px; box-shadow: 1px 1px 1px 0px; height: 70px; display: flex; align-items: center; justify-content: space-between;">
              <div style="line-height: 10px; width: 100%; margin: 0;">
                  <p>Numero de categorias registradas:</p>
                  <p style="margin-bottom: 2px; font-size: 25px;">{{numeroCategorias}}</p>
              </div>
          </div>

          <div class="form-inline my-2 my-lg-0 aas" style="width: 100%; flex-wrap: nowrap;">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 70%; margin-right: 20px;" />
              <input type="submit" style="float: right; border-radius: 2px; padding: 7px 19px; background: black; color: white; border: none;" value="Buscar" />
          </div>

          <div style="background: #f4f8fb; overflow-y: auto; width: 100%; margin-top: 10px; z-index: 1000; padding: 10px; height: 125px; display: flex; flex-direction: column; height: calc(100% - 100px); padding: 0;">
              <div style="background: #ffffff; height: auto; margin-bottom: 5px; padding: 15px; border-left: 5px solid black;" *ngFor="let x of categorias">
                  <div style="width: 100%; text-align: left; display: flex; justify-content: space-between;">
                      <div style="display: flex; width: 50%; position: relative; font-size: 30px;">
                          <h2 style="margin: 0; font-size: 20px; margin-bottom: 2px;"></h2>
                          <p style="margin: 0; margin-left: 10px;">{{x.nombre}}</p>
                      </div>

                      <div style="display: flex; justify-content: space-evenly; align-items: center; width: 30%; margin-left: 50px; font-size: 35px;">
                          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path (click)="actualizar(x)" 
                                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                              />
                              <path
                                  fill-rule="evenodd"
                                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                              />
                          </svg>
                          <svg  style="margin-left: 15px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path (click)="eliminar(x.id)"
                                  fill-rule="evenodd"
                                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"
                              />
                          </svg>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<style>
  .btn_black {
      position: relative;
      background: black;
      color: white;
      border: none;
      border-radius: 5%;
  }
  .nav {
      text-align: center;
      height: 50px;
      display: flex;
      align-items: center;
      border: 1px solid black;
  }

  .nave {
      border-right: 1px solid black;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .nave:active {
      background: rgb(241, 236, 236);
  }

  .linea {
      margin: 0;
      padding: 0;
      height: 30px;
      border-right: 1px solid black;
  }

  .nav2 {
      background: white;
      height: 45px;
      margin: auto;
      border-radius: 5pt;
      box-shadow: 0px 5px 6px -4px rgba(0, 0, 0, 0.5);
      background: #fefefe;
  }
</style>
