<div class="container-lg" style="padding: 0; height: 100vh;">
    <h1 style="font-family: monospace;font-size: 20px;transform: translateY(75px);text-align: justify;margin-left: 10px;">Listado de pedidos a entregar.</h1>
    <div class="contenedor_cards_principal" >   
        <div class="cards_secundario" *ngFor="let x of productos">
            <div class="card_primario" style="margin-bottom: 0px;" *ngFor="let info of x.pedido" >
                <table class="table table-striped table-hover">
                    <thead>
                        <tr style="font-weight: 700; font-family: cursive;">
                            <td>Producto</td>
                            <td>Cantidad</td>
                            <td>Instruccion</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let s of info">
                            <td style="text-align: left;">{{s.producto}}</td>
                            <td>x{{s.cantidad}}</td>
                            <td style="text-align: left;">{{s.instruccion}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="pagar">Total a pagar: <span style="font-weight: bold;">${{x.totalPagar}}</span></p>
            
                <div style="display: flex; justify-content: space-between;margin-bottom: 10px;padding: 10px 0px;border-bottom: 1px solid black;border-top: 1px solid black;">
                    <h1 style="font-size: 20px; font-weight: bold;width: 33%;border-right: 1px solid black;margin: 0;"><span style="font-size: 18px; font-family: monospace;" >Area: {{x.area}}</span></h1>
                    <h1 style="font-size: 20px; font-weight: bold;width: 33%;border-right: 1px solid black;margin: 0;"><span style="font-size: 18px; font-family: monospace;" >Fila: {{x.fila}}</span></h1>
                    <h1 style="font-size: 20px; font-weight: bold;width: 35%;margin: 0;"><span style="font-size: 18px; font-family: math; font-family: monospace;" >Aciento: {{x.noAciento}}</span></h1>
                </div>
                <div class="cont_fecha">
                    <h1 style="font-size: 18px; font-weight: bold;"><span class="fechayhora">{{fechaFormato(x.createdAt)}}</span></h1>
                    <svg (click)="entregado(x.id)" style="height: 35px;width: 30%;padding-left: 20px; color: green;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                      </svg>
                    <h1 style="font-size: 18px; font-weight: bold;"><span class="fechayhora">{{horaFormato(x.createdAt)}}</span></h1>
                </div>
        </div>
    </div>
</div>
<style>

    .pagar{
        text-align: left;
        font-size: 18px;
        font-family: cursive;
        margin-left: 5px;
        margin-bottom: 10px;
    }
 .cont_fecha {
   display: flex;
   justify-content: space-between;
   padding-top: 5px 0px;
}

.fechayhora {
   font-size: 16px;
   font-family: math;
   font-weight: bold;
}

.btns {
   width: 50%;
   border-radius: 10px;
   color: black;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 5px;
}

.contenedor_cards_principal {
   background: white;
   flex-direction: column;
   overflow: auto;
   width: 100%;
   height: 390px;
   margin: auto;
   text-align: center;
   display: flex;
   align-items: center;
   height: calc(83% - 45px);
   padding: 7px;
   transform: translateY(70px);
}

.cards_secundario {
   background: white;
   width: 100%;
   margin-top: 10px;
   z-index: 1000;
   height: auto;
   padding: 10px;
   box-shadow: 2px 2px 4px 0px;
   border-radius: 5px;
}

.card_primario {
   text-align: center;
   margin-top: 10px;
   /* padding-bottom: 10px; */
   display: flex;
   flex-direction: column;
}
</style>
