
<div class="container-fluid" style="background: white; height: 100vh; position: relative; padding: 0;">
    <nav class="navbar navbar-light bg-light" style="background: black!important;">
        <a class="navbar-brand" href="#" style="color: white; display: flex; width: 100%; display: flex; justify-content: space-between; margin: 0;">
            <div style="text-align: center; width: 100%; font-size: 30px;">
                <img src="../../../assets/img/MeseronlineLogo.png" style="width: 150px;" alt="">
            </div>
        </a>
    </nav>


     <div *ngIf="!totalPagar" class="col-100">
        <div style="display: flex; flex-direction: column; justify-content: center;  align-items: center; margin-top: 40%;" >
         <img src="../../../assets/img/bolsa.png" style=" width:100px; height: 100px; margin: auto;">
            <div  style="text-align:center;margin-top: 10px;padding-bottom: 10px; display: flex; flex-direction: column;">
                Tu carrito de compra está vacío
                <br><br>
                <input type="submit" (click)="goNuevoProducto()" style="width: 100%;" class="btn_negro" value="IR DE COMPRAS"> 
            </div>
        </div>
    </div>


    <div  *ngIf="totalPagar" class="container-lg" style="padding: 0; height: calc(100% - 130px); background: white; z-index: 1000000;">
        <p style="font-size: 24px; text-align: center;margin-top: 10px;margin-bottom: 0px;font-family: serif;">Estos son sus productos seleccionados</p>
            <div class="container-lg" style="padding: 7px ; margin-top: 25px; height: calc(68% - 177px); overflow-y: auto; padding-bottom: 0;" >
                <div  style="background: #F2F6F7; flex-direction: column; overflow: auto; width: 100%; text-align: center; display: flex; align-items: center;">
                    <div style=" background: white; flex-direction: column; overflow: auto; width: 100%;  margin-top: 0px; text-align: center; display: flex; align-items: center; height: calc(120% - 45px); padding: 5px;">
                        <div style="background: white; width: 100%;  margin-top: 10px; z-index: 1000; height: auto; padding: 10px; box-shadow: 2px 2px 4px 0px; border-radius: 5px; " *ngFor="let x of productos">
                            <div style="display: flex; justify-content: space-around;" *ngIf="x.producto">
                                <div style="Border-right: 1px solid black;width: 35%;">{{x.producto}}</div>
                                <div style="Border-right: 1px solid black; width: 35%;">x{{x.cantidad}}</div>
                                <div style="width: 35%;">${{x.total}}</div>
                                <svg (click)="eliminarProducto(x)" style="width: 30px;height: 30px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path 
                                        fill-rule="evenodd"
                                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"
                                    />
                                </svg>
                            </div>
                            <div style="width: 100%;text-align: justify;margin-left: 20px;margin-top: 10px;font-weight: 600;">Instruccion: <span style="font-weight: 300;">{{x.instruccion}}</span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="flex-direction: column;width: 99%;margin: auto; text-align: center;display: flex;align-items: center;height: calc(57% - 50px);;">
                <!-- <div style="overflow-y: auto; height: calc(111% - 0px); background: white; width: 95%;  padding: 10px;display: flex;flex-direction: column;align-items: center;"> -->
                    <!-- <div style="width: 100%; height: 41px; display: flex; justify-content: center; align-items: center; border-bottom: 1px solid black; margin-bottom: 10px;"> -->
                        <div style="width: 100%; text-align: left; margin-top: 20px;">
                            <p style="font-size: 25px;font-family: monospace; margin-left: 15px;">Total: $<span>{{totalPagar}}</span></p>
                        </div>
                        <button class="btn_negro" (click)="realizarCompra(totalPagar)">Confirmar pedido</button>
                        <p class="vaciar" (click)="vaciarCarrito()">VACIAR CARRITO</p>
                    <!-- </div> -->
                <!-- </div> -->
            </div>

        </div>

</div>



<style>

    .btn_seguir{
        background: white; 
        width: 60%;  
        margin-top: 10px; 
        z-index: 1000; 
        height: auto; 
        padding: 10px; 
        margin: 0;
        border-radius: 5px;

    }

    .vaciar{
        margin-top: 30px;
        color: red;
        margin-bottom: 30px;
    }

    .btn_negro{
        float: right; padding: 13px 40px; background: black; color: white; border: none;
        width: 80%;
    }

    .btn_contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    


    .seccion{
        display: flex;
        justify-content: space-around;
        position: absolute;
        background: #dbdcde;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 49px;
        padding: 4px;
    }
    .nav{
        text-align: center;
        height: 50px;
        display: flex;
        align-items: center;
        border: 1px solid black;
    }
    
    .nave{
        border-right: 1px solid black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .nave:active{
        background: rgb(241, 236, 236);
    }
    
    .linea{
        margin: 0;
        padding: 0;
        height: 30px;
        border-right: 1px solid black;
    }
    
    .nav2{
        background: white;
        height: 45px;
        margin: auto;
        border-radius: 5pt;
        box-shadow: 0px 5px 6px -4px rgba(0, 0, 0, 0.5);
        background: #fefefe;
    }
    </style>
    