<div class="container-lg" style="padding: 0; height: 100vh; background: #F4F8FB;    ">
    <nav class="navbar navbar-light bg-light" style="background: black!important;">
        <a class="navbar-brand"  style="color: white; display: flex; width: 100%; display: flex; justify-content: space-between; margin: 0;">
            <button class="btn_black" (click)= "goBack()">
                <svg style="margin-right: 10px; font-size: 30px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                  </svg>
                  Productos
            </button>
           
            <button class="btn_black" (click)= "goNuevoProducto()">
                <svg style="font-size: 30px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg" routerLink = "/nuevomesero">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </button>
        </a>
    </nav>
  
    <div class="container-lg" style=" height: 200px;height: calc(100% - 60px); overflow-y: auto;" >
        <div  style="background: F2F6F7; flex-direction: column; overflow: auto; width: 100%; height: 390px;  margin-top: 20px; text-align: center; display: flex; align-items: center; height: calc(100% - 20px); ">
            
            <p style="text-align: justify;font-family: serif;margin: 0;">Seleccione la categoria que pertence el producto a buscar.</p>

            <div class="form-inline my-2 my-lg-0 aas" style="width: 100%; flex-wrap: nowrap;">
                <input class="form-control mr-sm-2"  type="search" placeholder="Search" aria-label="Search" style="width: 70%; margin-right: 20px;">
                <input type="submit"  style="float: right; border-radius: 2px; padding: 7px 19px; background: black; color: white; border: none;" value="Buscar"> 
            </div>

       
            <div style="background: #F4F8FB; overflow-y: auto; width: 100%;  margin-top: 10px; z-index: 1000; padding: 10px; height: 125px;display: flex; flex-direction: column; height: calc(100% - 100px); padding: 0;">
                <div style=" background: #FFFFFF;height: auto; margin-bottom: 5px; padding: 15px;  border-left: 5px solid black;" *ngFor="let x of categorias" >
                        <div style="width: 100%; text-align: left; display: flex;">
                            <button style="display: flex; width: 50%; position: relative; font-size: 30px;" (click)= "goProducto()">
                                <h2 style="margin: 0; font-size: 20px; margin-bottom: 2px;"></h2>
                                <p style="margin: 0; margin-left: 10px;"> {{x.nombre}}</p>
                            </button>
  
                            <div style="display: flex; justify-content: flex-end; align-items: center; width: 50%; font-size: 30px;">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                                  </svg>
    
                                <!-- <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                </svg> -->
  
                             </div>
                         </div>
                 </div>
            </div>
        </div>
    </div>
  </div>
  
<style>
    .btn_black{
    position: relative;
    background: black; 
    color: white; 
    border: none;
    border-radius: 5%;
    }
    .nav{
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    }
    
    .nave{
    border-right: 1px solid black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .nave:active{
    background: rgb(241, 236, 236);
    }
    
    .linea{
    margin: 0;
    padding: 0;
    height: 30px;
    border-right: 1px solid black;
    }
    
    .nav2{
    background: white;
    /* width: calc(100% - 20px); */
    height: 45px;
    /* position: absolute; */
    /* top: 75px; */
    /* left: 0; */
    /* right: 0; */
    margin: auto;
    border-radius: 5pt;
    box-shadow: 0px 5px 6px -4px rgba(0, 0, 0, 0.5);
    background: #fefefe;
    /* margin-bottom: 70px; */
    }
</style>
    