<div class="container-lg" style="padding: 0;">
    <nav class="navbar navbar-light bg-light" style="background: black!important;">
        <a class="navbar-brand"  style="color: white; display: flex; width: 100%; display: flex; justify-content: space-between; margin: 0;">
            <button class="btn_black" (click)= "goBack()">
                <svg style="margin-right: 10px; font-size: 30px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                </svg>
                Registrar mesero
            </button>
        </a>
  </nav>
    <div style="display: block; text-align: center; margin: 30px 0px;">
        <img style="width: 100%; max-width: 200px;" src="../../../../../assets/img/categoria.png" alt="">
    </div> 

    <form  [formGroup]="formMesero" (ngSubmit)="enviarMesero(formMesero.value)"> 
         <div class="container-lg" style="text-align: left;">
            <div>
                <input formControlName="id" class="custom-select texts" type="hidden" name="id" > 
                <p style="margin: 8px 0px;">Clave del mesero:</p> 
                <input formControlName="claveMesero" class="custom-select texts" type="number" name="claveMesero" > 
                    <!-- <div *ngIf="formMesero.get('claveMesero').hasError('required') && formMesero.get('claveMesero').touched" style="color: red;">Es necesario la clave.</div> -->
                <p style="margin: 8px 0px;">Nombre del mesero:</p> 
                <input formControlName="nombreMesero" class="custom-select texts" type="text" name="nombre" > 
                    <!-- <div *ngIf="formMesero.get('nombreMesero').hasError('required') && formMesero.get('nombreMesero').touched" style="color: red;">Es necesario el nombre.</div> -->
                <p style="margin: 8px 0px;">Apellido:</p> 
                <input formControlName="apellidoMesero" class="custom-select texts" type="text" name="apellidoMesero" > 
                    <!-- <div *ngIf="formMesero.get('apellidoMesero').hasError('required') && formMesero.get('apellidoMesero').touched" style="color: red;">Es necesario el nombre.</div> -->
                <p style="margin: 8px 0px;">Contraseña:</p> 
                <input type="text" formControlName="contraMesero" class="custom-select texts"  name="contraMesero"> 
                    <!-- <div *ngIf="formMesero.get('contraMesero').hasError('required') && formMesero.get('contraMesero').touched" style="color: red;">Es necesario el tipo.</div> -->
                <br>
                <input type="submit"  style="float: right; padding: 13px 40px; background: black; color: white; border: none;" value="GUARDAR"> 
            </div>
         </div> 
    </form>
</div>

<style>
    .texts{
        background: none; 
        border:1px solid black;
        display:block;
        padding:10px 0px;
        font-size: 12pt;
        width: 100%;
        text-indent:5px;
    }

    .btn_black{
    position: relative;
    background: black; 
    color: white; 
    border: none;
    border-radius: 5%;
    }
</style>