<!-- <menu style=" padding: 0; margin: 0;"></menu> -->
<!-- <app-productos></app-productos> -->
<!-- <app-login></app-login>  -->
<!-- <app-infoproducto></app-infoproducto> -->
<!-- <app-mesero></app-mesero> -->
<!-- <app-admin></app-admin> -->
<!-- <app-categorias></app-categorias> -->
<!-- <app-nuevacategoria></app-nuevacategoria> -->
<!-- <app-menu-parte1></app-menu-parte1> -->

<!-- <router-outlet></router-outlet> -->

<!-- <app-productoss></app-productoss> -->
<!-- <app-nuevomesero></app-nuevomesero> -->
<!-- <app-comprarproducto></app-comprarproducto> -->
<!-- <app-ventadia></app-ventadia> -->
<!-- <app-abcmeseros></app-abcmeseros> -->
<!-- <app-nuevoproducto></app-nuevoproducto> -->
<!-- <app-comprarproducto></app-comprarproducto> -->

<app-carrito></app-carrito>



<!-- CATEGORIA COCINA -->
<!-- <app-proceso></app-proceso> -->
<!-- <app-recibidos></app-recibidos> -->
<!-- <app-finalizados></app-finalizados> -->

