<div class="content" style="background: black; height: 0vh; position: relative; ">
    <nav class = "navbar is-info" role="navigation">
      <nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light" >
          <a class="btn btn-light" href = "" role = "button" routerLink = "/parte1">
              <img src="../../../assets/icon/food.png" style="width: 30px;" alt="">
          </a>
          <a class="btn btn-light" href = "" role = "button" routerLink = "/parte2">
              <img src="../../../assets/icon/drink.png" style="width: 30px;" alt="">
          </a>
          <a class="btn btn-light" href = "" role = "button" routerLink = "/parte3">
              <img src="../../../assets/icon/donut.png" style="width: 30px;" alt="">
          </a>
          <a class="btn btn-light" href = "" role = "button" routerLink = "/parte4">
              <img src="../../../assets/icon/beer.png" style="width: 30px;" alt="">
          </a>
          <a class="btn btn-light" href = "" role = "button" routerLink = "/parte1">
              <img src="../../../assets/icon/carts.png" style="width: 30px;" alt="">
          </a>
        </nav>
    </nav>
</div>

<main [@routeAnimations]="prepareRoute(outlet)" class="content">
    <router-outlet #outlet="outlet"></router-outlet>
</main>
