
<!DOCTYPE html>
<html lang="en" style="background: black;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.component.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap" rel="stylesheet">
    <title>MeserOnline</title>
</head>
<body style="background: black;">
    <div class="container-lg contenedor">
        <div class="container-lg">
            <img src="../../../assets/img/MeseronlineLogo.png" style="width: 100%; max-width: 400px;" alt="">

        </div>
        <!-- <div>
            <img style="width: 100%; max-width: 300px;" src="../../../assets/img/mesero.png" alt="">
        </div> -->

         <input type="text" #code style="text-align: center; max-width: 73%; margin-top: 40px; width: 90%; text-indent:5px; height: 35px; text-transform: uppercase; max-width: 250px;" placeholder="Codigo" required="" />
         <input style=" font-family: 'Noto Sans', sans-serif; background: black; padding: 8px 10px; border-radius: 7px; margin-top: 20px; color: white; box-shadow: 1px 1px 1px 0px red, -1px -1px white;" type="submit" value="Iniciar Sessión" (click)="getCodeVal(code.value)">
        </div>   
</body>
</html>
<!--
<a class="btn btn-light" href = "" role = "button" routerLink = "menu">
    <img src="../../../assets/icon/food2.png" style="width: 35px;" alt="">
</a>

<router-outlet #outlet="outlet"></router-outlet>
<div class="content" style="background: black; height: 0vh;">
    <nav class = "navbar is-info" role="navigation" style="position: unset!important;">
        <nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
            <a class="btn btn-light" href = "" role = "button" routerLink = "/menu">
                <img src="../../../assets/icon/food2.png" style="width: 35px;" alt="">
            </a>
        </nav>
    </nav>
</div>

-->