
<!DOCTYPE html>
<html lang="en" style="background: black;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.component.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap" rel="stylesheet">
    <title>MeserOnline</title>
</head>
<body style="background: black;">
    <div class="container-lg contenedor">
        <h1 style="color: white;">MeserOnline</h1>
        <div>
            <img style="width: 100%; max-width: 300px;" src="../../../assets/img/mesero.png" alt="">
        </div>

         <input type="text" style="text-align: center; max-width: 73%; margin-top: 40px; width: 90%; text-indent:5px; height: 35px; max-width: 305px; text-transform: uppercase;" placeholder="Codigo" required="" />
         <input style=" font-family: 'Noto Sans', sans-serif; background: white; padding: 8px 10px; border-radius: 7px;border: none; margin-top: 20px" type="submit" value="Iniciar Sessión">
     
    </div>   
</body>
</html>