<div class="container-fluid" style="background: white; height: 100vh; position: relative; padding: 0; ">
    <h1 style="font-family: monospace;font-size: 35px; transform: translateY(97px);">Área de alcohol</h1>
    <div  style="max-width: 500px; background: F2F6F7; flex-direction: column; overflow: auto; width: 90%; height: 390px; margin: auto; margin-top: 120px; text-align: center; display: flex; align-items: center; height: calc(78% - 25px);">
        <div style="background: white; width: 98%;  margin-top: 20px; z-index: 1000; height: auto; padding: 10px; box-shadow: 2px 2px 4px 0px;"  *ngFor="let food of producto">
            <div style=" width: 100%; margin: auto;text-align: center;">
                <img src="../../../assets/img/pizzapepperoni0.jpg" width="100%" alt="">
            </div>

            <div style="width: 100%; height: 100%; margin-top: 10px;">
                    <div style=" display: flex; justify-content: space-around; height: 40px; align-items: center;">
                        <h1 style="font-size: 30px; font-weight: bold;">{{food.nombre}}</h1>
                        <h1 style="font-size: 30px; font-weight: bold;">${{food.precio}} </h1>
                    </div>
                    <!-- <h1 style="font-size: 18px; font-weight: bold;">Descripción: <br> <span style="font-size: 16px; font-family: math;">{{food.descripcion}}</span></h1> -->
                    <p  style="font-size: 20px; margin-top: 10px;">{{food.descripcion}}</p>
                    <!-- <i  class="bi bg-lime">asdasd</i> -->
                    <!-- <i (click)="alerta()" style="font-size: 25px;">Ver mas...</i> -->
                </div>
        </div>
    </div>
    <!-- <div class="seccion">  
        <img src="../../../assets/icon/food.png" style="width: 40px;" alt="">
        <img src="../../../assets/icon/drink.png" style="width: 40px;" alt="">
        <img src="../../../assets/icon/donut.png" style="width: 40px;" alt="">
        <img src="../../../assets/icon/beer.png" style="width: 40px;" alt="">
        <img src="../../../assets/icon/carts.png" style="width: 40px;" alt="">
    </div> -->
</div>
    <style>
        .seccion{
            display: flex;
            justify-content: space-around;
            position: absolute;
            background: #dbdcde;
            width: 100%;
            bottom: 0;
            left: 0;
            height: 49px;
            padding: 4px;
        }
    </style>
