


<div class="content" style="background: black; height: 0vh;">
    <nav class = "navbar is-info" role="navigation" style="position: unset!important;">
        <nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light" style="position: absolute!important; display: flex; justify-content: space-around; flex-wrap: nowrap;">
            <a class="btn btn-light" href = "" role = "button" routerLink = "pedidos">
                <div>Pedidos</div>
            </a>
            <a class="btn btn-light" href = "" role = "button" routerLink = "ventas">
                <div>Ventas</div>
            </a>
        </nav>
    </nav>
</div>

<main [@routeAnimations]="prepareRoute(outlet)" class="content">
    <router-outlet #outlet="outlet"></router-outlet>
</main>
