
<div class="content" style="background: black; height: 0vh;">
    <nav class = "navbar is-info" role="navigation" style="position: unset!important;">
      <nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light" style="position: absolute!important; display: flex; justify-content: space-around; flex-wrap: nowrap;" >
          <a class="btn btn-light" href = "" role = "button" routerLink = "parte1">
              <img src="../../../assets/icon/food2.png" style="width: 35px;" alt="">
          </a>
          <a class="btn btn-light" href = "" role = "button" routerLink = "parte2">
              <img src="../../../assets/icon/drinks2.png" style="width: 35px;" alt="">
          </a>
          <a class="btn btn-light" href = "" role = "button" routerLink = "parte3">
              <img src="../../../assets/icon/snack.png" style="width: 35px;" alt="">
          </a>
          <a class="btn btn-light" href = "" role = "button" routerLink = "parte4">
              <img src="../../../assets/icon/beer2.png" style="width: 35px;" alt="">
          </a>
          <a class="btn btn-light" href = "" role = "button" routerLink = "parte1">
              <img src="../../../assets/icon/carts2.png" style="width: 35px;" alt="">
          </a>
        </nav>
    </nav>
</div>

<main [@routeAnimations]="prepareRoute(outlet)" class="content">
    <router-outlet #outlet="outlet"></router-outlet>
</main>